.timer-range {
	transition: .5s;
}
.timer-range svg {
	width: 50px;
	height: 50px;
	color: #fff;
	cursor: pointer;
	transition: .3s;
}
.timer-range svg:hover {
	transform: scale(1.35);
	opacity: .8;
}
.timer-range svg:active {
	transform: scale(1);
	opacity: .5;
}

.timer-range__value {
	color: #fff;
	font-size: 3rem;
	margin: 0 0 6px;
}